services:
  - type: web
    name: dakshin-trips-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /api/health
    envVars:
      - key: NODE_ENV
        value: production
      - key: SMTP_USER
        value: Dakshintrips@gmail.com
      - key: SMTP_PASS
        value: yymobvjfnrtiitot
      - key: SMTP_HOST
        value: smtp.gmail.com
      - key: SMTP_PORT
        value: "587"
      - key: SMTP_SECURE
        value: "false"
      - key: ENQUIRY_TO
        value: Dakshintrips@gmail.com
